<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIG DREAM CARS</title>
    <link rel="stylesheet" href="/all.min.css">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/home.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Bungee&family=Kanit:ital,wght@1,400;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/owl.carousel.min.css">
    <link rel="stylesheet" href="/owl.theme.green.min.css">
    <link rel="stylesheet" href="/feedback.css">
    <style>
        *{
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="main-bg">
        <div class="w-100">
            <div class="w-1140">
                <div class="header">
                    <div class="details color">
                        <div class="w-33 hv pt">

                        </div>
                        <div class="w-33 color center n py"><a href=""
                                style="text-decoration: none; color: white; font-size: 50px;">BIG DREAMS CAR</a></div>
                        <div class="w-33 left pt">

                            <a href="signup"
                                style="font-family: Barlow Condensed, arial; text-decoration: none; color: white;  padding-right: 7px;">SIGN
                                UP </a>
                                <span> | </span>
                                <a href="about"
                                style="font-family: Barlow Condensed, arial; text-decoration: none; color: white; padding-left: 7px;">ABOUT
                                US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="img">

    </div> -->

    <div class="w-100">
        <div class="w-1140">
            <div class="detailss">

            </div>
        </div>
    </div>

    <div class="information font color">
        <div class="for-contact">
            <p>Mo : 9898 9769 98 | 9898 6353 98</p>
        </div>
        <div class="first">
            <p>LET'S KEEP IT SIMPLE.</p>
        </div>
        <div class="second">
            <p>We are the best when it comes to Exotic Cars.</p>
        </div>
        <!-- <div class="search">
            <input type="text" placeholder="Search a car"
                style="color: white; text-align: left; font-family: Barlow Condensed, arial;">
        </div> -->
    </div>

    <div class="owl-carousel owl-theme px-0 img">
        <div class="item">
            <img src="/images/bg.jpg" alt="" class="p-0" style="height: 650px; width: 100%;">
        </div>
        <div class="item">
            <img src="/images/bg1.jpg" alt="" style="height: 650px; width: 100%;">
        </div>
        <div class="item">
            <img src="/images/bg2.jpg" alt="" style="height: 650px; width: 100%;">
        </div>
    </div>

    <div class="for-contact">
        <p>Mo : 9898 9769 98</p>
    </div>


    <div class="w-100 pr">
        <div class="w-1140">
            <div class="flex">
                <div class="w-30 ptf">
                    <div class="leftside ">
                        <div class="tit">
                            <p>PLANNING FOR BUYING CAR?</p>
                        </div>
                        <div class="tit1">
                            <p>BUY YOUR CAR</p>
                            <p>IN FEW MINUTES.</p>
                        </div>

                        <div class="s-50">
                            <div class="logo pu flex">
                                <div class="square"></div>
                                <div class="img1"></div>
                                <div class="buy-tit">
                                    <p style="font-weight: 200;">Cheap</p>
                                    <p>Prise</p>
                                </div>

                                <div class="padl flex">
                                    <div class="square"></div>
                                    <div class="img3"></div>
                                    <div class="buy-tit">
                                        <p style="font-weight: 200;">Best Offer</p>
                                        <p>All Time</p>
                                    </div>
                                </div>
                            </div>

                            <div class="flex">
                                <div class="flex padul">
                                    <div class="square"></div>
                                    <div class="img4"></div>
                                    <div class="buy-tit">
                                        <p style="font-weight: 200;">1000+ Satisfied</p>
                                        <p>Customers</p>
                                    </div>
                                </div>

                                <div class="padul flex" style="padding-left: 51px;">
                                    <div class="square"></div>
                                    <div class="img5"></div>
                                    <div class="buy-tit">
                                        <p style="font-weight: 200;">Easy & Free </p>
                                        <p>Processing </p>
                                    </div>
                                </div>
                            </div>
                            <div class="know">
                                <a href=""><input type="button" value="For Inquiry"  onsubmit="data(event)"></input></a>
                            </div>
                            <p style="margin-top: 5px; color: red;">Please Signup The form then you sent  a request for inquiry</p>
                        </div>
                    </div>
                </div>
                <div class="w-70 ptf">
                    <div class="img2">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100">
        <div class="w-1140">
            <div class="s-title">
                <h3>POPULAR @</h3>
                <h1>BIG DREAM CARS</h1>
            </div>

            <div class="container-fluid">


                <div class="row d-flex m-5">
                    <% for(let i=0;i< c.length;i++){ %>
                        <div class="col-4 pt-4">
                            <div class="card-2 ro-bo ">
                                <div class="imgbox">
                                    <img src="./images/<%= c[i].car_photo %>" alt="" class="w-100 ro-bo ">
                                </div>
                                <div class=" text-center ">
                                    <h2 class="mb-4">
                                        <%= c[i].car_name %>
                                    </h2>
                                    <h6 class="text-uppercase"><span class="text-secondary">REG.
                                            YEAR</span>-&nbsp;&nbsp;<%= c[i].reg_year %>
                                            &nbsp;&nbsp;&nbsp; <span class="text-secondary">|</span>&nbsp;&nbsp;&nbsp;
                                            <span class="text-secondary">KMS</span>&nbsp;-&nbsp;<%= c[i].kms %>
                                                &nbsp;&nbsp;<span class="text-secondary">|</span>&nbsp;&nbsp;<span
                                                    class="text-secondary">FUEL TYPE</span>&nbsp;-&nbsp;<%=
                                                    c[i].fuel_type %>
                                    </h6>
                                </div>

                            </div>
                        </div>
                        <% } %>
                            <br><br><br>
                </div>
            </div>
        </div>
    </div>



    <div class="w-100 bgc" style="margin-top: 70px;">
        <div class="w-1140 " style="padding-top: 90px;">
            <div class="vid flex">
                <div class="w30">
                    <div class="title-1">
                        <p>BROWSE BIG DREAMS CAR</p>
                        <p>DATABASE OF NEW LUXURY</p>
                        <p>CARS IN INDIA</p>
                    </div>
                    <div class="tools" style="color: white; padding-top: 20px;">
                        <div class="icon flex">
                            <div class="img-icon"></div>
                            <!-- <div class="ic"></div> -->
                            <p class="pm op">Expert Review On Luxury Cars</p>
                        </div>

                        <div class="flex">
                            <div class="img-icon1"></div>
                            <!-- <div class="ic1"></div> -->
                            <p class="pm1 op">Compare Your Favorite Cars</p>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="img-icon1"></div>
                        <!-- <div class="ic2"></div> -->
                        <p class="pm2 op">More Than 100 Luxury Cars &
                            It's In Depth Specifications</p>
                    </div>
                    <div class="btn-hover">
                        <a href="about"><input type="button" value="About Us" style="color: black;" class="btn"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="w60">
        <div class="img-upload">

        </div>
    </div>
    </div>
    </div>
    </div>



    <!-- <div class="w-100 bgc color" style="margin-top: 50px; padding-bottom: 100px;">
        <div class="w-1140 font">
            <div class="about-details">
                <h1>HOW ITS WORKS</h1>
            </div>
            <div class="about">
                <p>Buying used luxury cars in India was never this easy. You can now own your dream luxury car in just 4
                    simple</p>
                <p style="padding-top: 2px;">steps at Big Boy Toyz, India's trusted used car portal.</p>
            </div>
            <div class="showroom flex">
                <div class="w25">
                    <div class="photo"></div>
                    <p style="padding-top: 10px; font-size: 20px;">BROWSE FROM OUR COLLECTION</p>
                </div>
                <div class="w25">
                    <div class="photo1"></div>
                    <p style="padding-top: 10px; font-size: 20px;">GET TO KNOW YOUR RIDE</p>
                </div>
                <div class="w25">
                    <div class="photo2"></div>
                    <p style="padding-top: 10px; font-size: 20px;">PAY & BOOK ONLINE OR VISIT SHOWROOM</p>
                </div>
                <div class="w25">
                    <div class="photo3"></div>
                    <p style="padding-top: 10px; font-size: 20px;">INSTANT PAYMENT & TRANSFER</p>
                </div>
            </div>
        </div>
    </div> -->





    <div class="w-100 bgc color font" style="margin-top: 50px;">
        <div class="w-1140">
            <div class="footer flex op">
                <div class="w-24">
                    <h3 style="padding-bottom: 20px;">BBT WORLD</h3>
                    <ul>
                        <a href="">
                            <li>Why Us</li>
                        </a>
                        <a href="">
                            <li>About Us</li>
                        </a>
                        <a href="">
                            <li>The Team</li>
                        </a>
                        <a href="">
                            <li>Career</li>
                        </a>
                        <a href="">
                            <li>Associates</li>
                        </a>
                        <a href="">
                            <li>BBT Squad</li>
                        </a>
                        <a href="">
                            <li>Wallpaper</li>
                        </a>
                        <a href="">
                            <li>Our Showroom</li>
                        </a>
                    </ul>
                </div>
                <div class="w-24">
                    <h3 style="padding-bottom: 20px;">GENERAL</h3>
                    <ul>
                        <a href="">
                            <li>Sell Car</li>
                        </a>
                        <a href="">
                            <li>FAQs</li>
                        </a>
                        <a href="">
                            <li>Videos</li>
                        </a>
                        <a href="">
                            <li>Blog</li>
                        </a>
                        <a href="">
                            <li>Auto Guide</li>
                        </a>
                        <a href="">
                            <li>Car News</li>
                        </a>
                        <a href="">
                            <li>Finance & Insurance</li>
                        </a>
                        <a href="">
                            <li>Sales Login</li>
                        </a>
                    </ul>
                </div>
                <div class="w-24">
                    <h3 style="padding-bottom: 20px;">BRANDS</h3>
                    <ul>
                        <a href="">
                            <li>Used Aston Martin</li>
                        </a>
                        <a href="">
                            <li>Used Audi</li>
                        </a>
                        <a href="">
                            <li>Used Bentley</li>
                        </a>
                        <a href="">
                            <li>Used BMW</li>
                        </a>
                        <a href="">
                            <li>Used Buick</li>
                        </a>
                        <a href="">
                            <li>Used Cadillac</li>
                        </a>
                        <a href="">
                            <li>Used Chevrolet</li>
                        </a>
                        <a href="">
                            <li>Used Chrysler</li>
                        </a>
                    </ul>
                </div>
                <div class="w-24">
                    <ul style="padding-top: 40px;">
                        <a href="">
                            <li>Used DC</li>
                        </a>
                        <a href="">
                            <li>Used Ducati</li>
                        </a>
                        <a href="">
                            <li>Used Ferrari</li>
                        </a>
                        <a href="">
                            <li>Used Fiat</li>
                        </a>
                        <a href="">
                            <li>Used Ford</li>
                        </a>
                        <a href="">
                            <li>Used Honda</li>
                        </a>
                        <a href="">
                            <li>Used Hummer</li>
                        </a>
                        <a href="">
                            <li>Used Hyundai</li>
                        </a>
                    </ul>
                </div>
                <div class="w-24">
                    <ul style="padding-top: 40px;">
                        <a href="">
                            <li>Used Jaguar</li>
                        </a>
                        <a href="">
                            <li>Used Jeep</li>
                        </a>
                        <a href="">
                            <li>Used Kawasaki</li>
                        </a>
                        <a href="">
                            <li>Used Lamborghini</li>
                        </a>
                        <a href="">
                            <li>Used Land Rover</li>
                        </a>
                        <a href="">
                            <li>Used Maserati</li>
                        </a>
                        <a href="">
                            <li>Used Maybach</li>
                        </a>
                        <a href="">
                            <li>Used McLaren</li>
                        </a>
                    </ul>
                </div>
                <div class="w-24">
                    <ul style="padding-top: 40px;">
                        <a href="">
                            <li>Used Mini</li>
                        </a>
                        <a href="">
                            <li>Used Nissan</li>
                        </a>
                        <a href="">
                            <li>Used Porsche</li>
                        </a>
                        <a href="">
                            <li>Used Rolls-Royce</li>
                        </a>
                        <a href="">
                            <li>Used Skoda</li>
                        </a>
                        <a href="">
                            <li>Used Toyota</li>
                        </a>
                        <a href="">
                            <li>Used Triumph</li>
                        </a>
                        <a href="">
                            <li>Used Volvo</li>
                        </a>
                    </ul>
                </div>
                <div class="w-24">
                    <h3 style="padding-bottom: 20px;">STYLE</h3>
                    <ul>
                        <a href="">
                            <li>Used SUV</li>
                        </a>
                        <a href="">
                            <li>Used Sedan</li>
                        </a>
                        <a href="">
                            <li>Used Convertible</li>
                        </a>
                        <a href="">
                            <li>Used Coupe</li>
                        </a>
                        <a href="">
                            <li>Used Sports</li>
                        </a>
                        <a href="">
                            <li>Used MUV-MPV</li>
                        </a>
                        <a href="">
                            <li>Used Hatchback</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 bgc color font">
        <div class="w-1140 ">
            <div class="flex letter">
                <p>Copyright © 2023 Big Dream Cars </p>
                <h5 class="op">| Privacy Policy | Cancellation & Refund | Terms of use | Site Map</h5>
            </div>

        </div>
    </div>

<div class="">

</div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/owl.carousel.min.js"></script>
    
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 0,
            nav: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    </script>
</body>




</html>